
.center-content {

    padding: 5px;
    padding-bottom: 10%;
    height: 90%;
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}
:root {
    --main-bg-color:#a7501d;
    --secundary-color:#0000006e;
}

.btn-flat{
    color:  var(--secundary-color)!important;
}

.btn{
    background-color: var(--main-bg-color);
}


.footer {
    background-color: var(--main-bg-color);
    padding: 8px;
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:100; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}
